
 #firstPage {
     /* background-image: url(/images/bg.jpg); */
     /* background-repeat: no-repeat; */
     /* background-size:cover; */
}
div.row {
    color:black;
}


/* RADAR CHART                     */
 .radar-chart .area {
     fill-opacity: 0.1;
 }
 .radar-chart .area.focused {
     fill-opacity: 0.8;
 }
 .tooltip {
     display: none;
 }


 /* OVERVIEW MAP */

 #overviewmap {
     height:700px;
 }

 /* Small Multiples */

 #small-mult {
     margin-left:auto;
     margin-right:auto;
     width:1435px;
 }
 
 #small-mult #lead {
     clear: both;
     width: 600px;
 }
 #small-mult #lead p {
     color: #444;
     font-family: Georgia, Palatino, serif;
     font-size: 1.0em;
     line-height: 1.4em;
 }
 #small-mult .chart {
     float: left;
     padding-right: 5px;
     padding-bottom: 5px;
     padding-top: 0;
     padding-left: 0;
 }

 #small-mult .background {
     fill: none;
 }
 #small-mult .area {
     fill: #f0ad4e;
 }
 #small-mult .line {
     fill: none;
     stroke: #74736c;
     stroke-width: 1.4px;
 }
 #small-mult .title {
     font-size: 12px;
 }
 #small-mult .axis line,
 #small-mult .grid line {
     stroke-width: .5px;
     shape-rendering: crispEdges;
     stroke: #fff;
     opacity: 0.5;
     pointer-events: none;
 }
 #small-mult .axis path {
     display: none;
 }
 #small-mult .hidden {
     display: none;
     opacity: 0.0;
 }
 #button-wrap {
     margin-left: auto;
     margin-right: auto;
     width:240px;
     margin-bottom: 10px;
     padding-left: 5px;
 }
 #count {
     border-radius: 5px 0px 0px 5px;
 }
 #name {
     border-radius: 0px 5px 5px 0px;
 }

 /* DCJS */
 #dc-mapped #dcjs-map {
     height:400px;
     width:750px;
 }
 #dc-mapped .dc-chart g.row text {
     fill:black;
 }
 rect.extent{
     fill:black;
     opacity:0.4;
 }

 .dc-chart g.row text {
     fill:black;

 }
 
